MDB_CONNECT = mongodb+srv://johanss_dev:TOKiqcSJzDfD0ThZ@project-thesis.a3tky.mongodb.net/ProjectThesis?retryWrites=true&w=majority
PORT = 5090
JWT_SECRET = THESIS@APP
FRONTEND_URL = http://localhost:4090